@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:#001233 ;
    /*color: #067bc2;*/
    color: white;
    background-image: url('../src/assets/bg-texture.png');
    background-repeat: no-repeat;
    background-size: cover;
}